body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}

#timecontainer{
    width: 50%;
    padding: 25px 0px;
    border-radius: 8px;
    background-color: #8f8f8f;
    text-align: center;
}

#td{
    padding-bottom: 20px;
    color: #fff;
    font-size: 34px;
    font-family: consolas, monospace;
}

.btn{
    margin: 0 6px;
    padding: 6px 18px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: #464646;
    color: #fff;
    border: 2px solid #92ce83;
}

.btn:hover{
    background-color: #1a7c8d;
}